
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Extralight.ttf) format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url(../Fonts/GeneralSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.upperbox {
  background-color: white;
  margin: auto;
  height: 100vw;
  text-align: center;
}
.sharelogos {
  display: flex;
  gap: 1rem;
}
.footer {
  font-family: "GeneralSans", sans-serif;
  padding: 6rem 5rem 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  background-color: #eacfff;
  clip-path: polygon(95% 0%, 95% 0%, 100% 27%, 100% 100%, 0% 100%, 0% 16%);
}
.logo {
  margin: auto 0;
}
.cont1 {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 1.34vw;
}
.contactcont {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 1.32vw;
}
.head {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  margin-bottom: 0.8rem;
  font-size: 1.5vw;
}
.des {
  margin-top: 2rem;
  font-size: 1.29vw;
  font-weight: 300;
}
.logom {
  width: 20vw;
}
.con {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.sociallogo {
  width: 3.2vw;
}
.footerm{
    display: none;
}
.phone{
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 5rem 3rem 2rem;
  }
}
@media screen and (max-width: 600px){
    .footer{
        display: none;
    }
    .footerm{
        display: block;
    }
    .cont1m{
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    .cont3{
        font-size: 3rem;
    }
    .footerm {
        font-family: "GeneralSans", sans-serif;
        padding: 7rem 0rem 2rem;
        background-color: #eacfff;
        clip-path: polygon(86% 0%, 86% 0%, 100% 15%, 100% 100%, 0% 100%, 0% 8%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactcont{
        font-size: 1rem;
    }
    .head{
        font-size: 1.3rem;
    }
    .logom{
        width: 52vw;
        padding: 2rem 0;
    }
    .cont3m{
        font-size: 3.3vw;
    }
    .pt1,.pt2{
        display: flex;
        gap: 1rem;
    }
    .sharelogos{
        flex-direction: column;
    }
    .sociallogo{
        width: 2rem;
    }
}
@media screen and (max-width:350px){
    .contactcont{
        font-size: 0.8rem;
    }
    .head{
        font-size: 1.1rem;
    }
    .sociallogo{
        width: 1.5rem;
    }
    .logom{
        padding: 1.5rem 0;
        
    }
}
