/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Poppins";
  margin: 0%;
  background-color: #f8f1e7;
}

input:focus,
input.form-control:focus {
  outline: none !important;
}

body {
  overflow-x: hidden;
  background-color: #f8f1e7;
}

.form-wapper h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.form-wrapper p {
  font-size: 12px;
}

.cform {
  overflow: hidden;
  border: solid;
  border-color: #009E77;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 6px;
  border-bottom-width: 6px;
  box-shadow: rgba(84, 84, 84, 0.19) 0px 10px 20px,
    rgba(84, 84, 84, 0.19) 0px 6px 6px;
  padding: 1.5vh 6vh;
}

.join a {
  border: solid black 1px;
  border-radius: 4px;
  padding: 4px 38px;
}

.guidelines {
  border: solid 1px;
  border-color: #C2CFE0;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction : column;
  align-items: flex-start;
}


form {
  width: 60%;
}

label.required::after {
    content: " *";
    color: red;
}

#form1 {
  padding: 2rem;
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    min-width: 200px;         
}

.img-div img {
    display: block;
    margin: 1rem auto 0 60%;    
    max-width: 90%;          
    height: auto;
}

input,
select {
  margin: 6px 0;
}

.placeholder {
  color: white;
  position: relative;
  top: -30px;
}

h8 {
  font-weight: 500;
  font-size: 15px;
}

.input_field {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  margin-bottom: 25px;
}

.input_field:focus {
  outline: none;
}

.register-top {
  text-align: center;
}

.errorlist {
  color: red;
}

