{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/contact.css' %}"
    />
  </head>
  <body>
    <div class="mainbox">
      <div class="upper">
        <img
          src="{% static 'images/contactus.svg' %}"
          alt="phone"
          class="flyer"
        />
        <img
          src="{% static 'images/contactmobile.svg' %}"
          alt=""
          class="mobile"
        />
      </div>
      <div class="down1">
        <div class="part1">
          <img src="{% static 'images/Person.svg' %}" alt="" class="one" />
          <div class="details1">
            <div class="h">Sudhanshu Raj</div>
            <div class="p">PR head</div>
            <div class="ph">+91 82929 67325</div>
          </div>
        </div>
        <div class="part1">
          <img src="{% static 'images/Person.svg' %}" alt="" class="one" />
          <div class="details1">
            <div class="h">Siddharth Shukla</div>
            <div class="p">PR head</div>
            <div class="ph">+91 73546 47811</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
