{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name11="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>
<body>
  <!-- desktop view -->
  <div class="footer herocontainer">
    <div class="cont1">
      <div class="logo">
        <img src="{% static 'images/Logo21.svg' %}" alt="" class="logom" />
      </div>
    </div>
    <div class="cont2">
      <div class="linkscont">
        <div class="linkhead head">Links</div>
        <div class="links">
          <a href="#about" class="link">About</a>
          <a href="#responsibility" class="link">Responsibilities</a>
          <a href="#testimonials_" class="link">Testimonials</a>
          <a href="#faq1" class="link">FAQs</a>
          <a href="https://alcheringa.in" target="blank" class="link">alcheringa.in</a>
        </div>
      </div>
    </div>
    <div class="cont3">
      <div class="contacthead head">Contact</div>
      <div class="contactcont">
        <div class="contact1 con">
          <div class="name11">Sudhanshu Raj</div>
          <div class="por">PR head</div>
          <div class="phone">+91 82929 67325</div>
        </div>
        <div class="contact2 con">
          <div class="name11">Siddharth Shukla</div>
          <div class="por">PR head</div>
          <div class="phone">+91 73546 47811</div>
        </div>
      </div>
    </div>
    <div class="cont4">
      <div class="follow">
        <div class="followhead head">Follow Us</div>
        <div class="sharelogos">
          <a href="https://www.instagram.com/alcheringaiitg/" class="insta">
            <img src="{% static 'images/inta.svg' %}" alt="" class="sociallogo" />
          </a>
          <a href="https://www.youtube.com/c/AlcheringaIITG" class="youtube">
            <img src="{% static 'images/youtube.svg' %}" alt="" class="sociallogo" />
          </a>
          <a href="https://www.threads.net/@alcheringaiitg" class="thread">
            <img src="{% static 'images/thread.svg' %}" alt="" class="sociallogo" />
          </a>
          <a href="https://www.facebook.com/alcheringaiitg" class="facebook">
            <img src="{% static 'images/facebook.svg' %}" alt="" class="sociallogo" />
          </a>
          <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/" class="linkedin">
            <img src="{% static 'images/linkedin.svg' %}" alt="" class="sociallogo" />
          </a>
          <a href="https://twitter.com/alcheringaiitg" class="X">
            <img src="{% static 'images/X.svg' %}" alt="" class="sociallogo" />
          </a>
        </div>
      </div>
      <div class="des">
        <div class="copyright">
          COPYRIGHT © 2025 ALCHERINGA. ALL RIGHTS RESERVED
        </div>
        <div class="credit">
          Designed by Team Creatives. Developed by Team WebOps.
        </div>
      </div>
    </div>
  </div>
  <!-- mobile view -->
  <div class="footerm herocontainer">
    <div class="cont1m">
      <div class="cont3">
        <div class="contacthead head">Contact</div>
        <div class="contactcont">
          <div class="contact1 con">
            <div class="name11">Sudhanshu Raj</div>
            <div class="por">PR head</div>
            <div class="phone">+91 82929 67325</div>
          </div>
          <div class="contact2 con">
            <div class="name11">Siddharth Shukla</div>
            <div class="por">PR head</div>
            <div class="phone">+91 73546 47811</div>
          </div>
        </div>
      </div>
      <div class="follow">
        <div class="followhead head">Follow Us</div>
        <div class="sharelogos">
          <div class="pt1">
            <a href="https://www.instagram.com/alcheringaiitg/" class="insta">
              <img src="{% static 'images/inta.svg' %}" alt="" class="sociallogo" />
            </a>
            <a href="https://www.youtube.com/c/AlcheringaIITG" class="youtube">
              <img src="{% static 'images/youtube.svg' %}" alt="" class="sociallogo" />
            </a>
            <a href="https://www.threads.net/@alcheringaiitg" class="thread">
              <img src="{% static 'images/thread.svg' %}" alt="" class="sociallogo" />
            </a>
          </div>
          <div class="pt2">
            <a href="https://www.facebook.com/alcheringaiitg" class="facebook">
              <img src="{% static 'images/facebook.svg' %}" alt="" class="sociallogo" />
            </a>
            <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/" class="linkedin">
              <img src="{% static 'images/linkedin.svg' %}" alt="" class="sociallogo" />
            </a>
            <a href="https://twitter.com/alcheringaiitg" class="X">
              <img src="{% static 'images/X.svg' %}" alt="" class="sociallogo" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="cont2m">
      <div class="logo">
        <img src="{% static 'images/Logo21.svg' %}" alt="" class="logom" />
      </div>
    </div>
    <div class="cont3m">
      <div class="copyrightm">
        COPYRIGHT © 2025 ALCHERINGA. ALL RIGHTS RESERVED
      </div>
      <div class="creditm">
        Designed by Team Creatives. Developed by Team WebOps.
      </div>
    </div>
  </div>
</body>
</html>